
a {text-decoration: none;color: #2fb3db;}
a:hover {color: #2fb3db;}

.post-content ol li:before, .post-content ul li:before {content: "."; font-size: 20px; width: 15px; height: 15px; line-height: 0; float: left; display: inline-block; margin-top: 6px; color: #2fb3db;}

.primarycolor {color: #2fb3db !important;}

.sugar-container {background-color: #2fb3db; color: #eee;}
.sugar-container a, .sugar-container h1, .sugar-container h2, .sugar-container h3, .sugar-container h4, .sugar-container h5, .sugar-container h6 {color: #fff;}
.sugar-container .icon-container div {background: #2fb3db; color: #fff; }
.sugar-container .icon-bg .glyphicons {color: #1c1c1c; }

/* navigation */
.sidr ul li.active a, .sidr ul li.sidr-class-active a{background: #2fb3db;}

/*! http://responsiveslides.com v1.54 by @viljamis */
.sugar-container .rslides_tabs .rslides_here a {background-color: #fff;}

/* buttons */
.btn-nav li > a, .btn {
    background-color: #2fb3db;
}
.btn-nav li > a:hover, a.btn:hover {color: #fff; background: #23a6ce;}
.sugar-container .btn-nav li > a, .sugar-container .btn {background-color: #fff; color: #333;}
.sugar-container .btn-nav li > a:hover, .sugar-container a.btn:hover {background: #ddd; color: #333;}

.sugar-container .btn-nav li.active > a {color: #fff !important;}
.sugar-container .btn.transparent {color: #fff;}
.btn.transparent:hover {color: #2fb3db; }
.sugar-container .btn.transparent:hover {color: #333; }

/* header */
#header.scrolled { background: #2fb3db; }

.sugar-container .position { background: #e55c56; }
.sugar-container .position h4 {color: #333;}

/* positions */
.position h4 {font-size: 30px; line-height: 40px; color: #2fb3db;}

.sugar-container .position .more .btn {background: #fff;}
.sugar-container .position .more .btn:hover {background: #ddd;}

/* Scrolltop button */
#scrolltop {
    background: #2fb3db;
}

/* overlay */
.actions a {line-height: 30px; display: inline-block; width: 40px; height: 40px; margin: 5px 10px; border-radius: 500px; background: #2fb3db; color: #fff;}
